@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .filter-bar {
    box-shadow: 0 5px 12px hsla(180, 29%, 50%, 0.3);
    @apply rounded-sm bg-white p-4 lg:px-8 max-w-screen-xl mx-3 xl:mx-auto flex items-center justify-between -translate-y-2/4;
  }

  .filter-btn {
    @apply flex items-center bg-filter-light-grayish-cyan rounded;
  }

  .filter-item {
    @apply px-2 text-desaturated-dark-cyan font-black;
  }

  .close-btn {
    @apply bg-desaturated-dark-cyan px-2 py-2 rounded-r hover:bg-very-dark-grayish-cyan cursor-pointer;
  }

  .clear {
    @apply font-black text-dark-grayish-cyan hover:text-desaturated-dark-cyan hover:underline cursor-pointer;
  }

  .content-container {
    @apply max-w-screen-xl xl:mx-auto mx-3 mb-5 mt-10 md:mt-3 text-dark-grayish-cyan space-y-12 md:space-y-5;
  }

  .job-item {
    box-shadow: 0 5px 12px hsla(180, 29%, 50%, 0.3);
    @apply rounded  bg-white px-3 md:py-5 md:px-7 md:flex items-center justify-between;
  }

  .description {
    @apply border-b-2 md:border-b-0 pb-2 md:pb-0 flex flex-col md:flex-row md:items-center md:w-3/5;
  }

  .job-logo {
    @apply w-14 -translate-y-2/4 md:w-20 md:mr-4 md:-translate-y-0;
  }

  .status {
    @apply inline-block rounded-full bg-desaturated-dark-cyan text-white px-2 pt-1 font-bold leading-none;
  }

  .job-title {
    @apply text-very-dark-grayish-cyan font-black hover:text-desaturated-dark-cyan cursor-pointer mb-1 lg:text-xl;
  }

  .select-filter {
    @apply inline-block px-2 py-1 bg-filter-light-grayish-cyan rounded-sm text-desaturated-dark-cyan font-black hover:text-white hover:bg-desaturated-dark-cyan cursor-pointer;
  }
}

header {
  background-image: url("../images/bg-header-desktop.svg");
  background-color: hsl(180, 29%, 50%);
  height: 156px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 376px) {
  header {
    background-image: url("../images/bg-header-mobile.svg");
  }
}
